@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Al Bhed";
  src: url("./albhed.otf");
}

body {
  background-image: url("./bikanel.webp");
}

.font-albhed {
  font-family: "Al Bhed";
  font-size: x-large;
}
